:root{
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%)
}

/*reset browser default settings*/
html, body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'work sans, sans-serif';
    height: 100vh;
    position: relative;
}

/*code for backgrounds*/
#first-background{
    background-color: var(--Dark-purple);
    width: 100%;
    height: 50%;
    background-image: url("assets/images/background-pattern-desktop.svg");
}
#second-background{
    background-color: var(--Light-pink);
    height: 50%;
}

/*code for h1 and star icon*/
#heading-and-star{
    display: flex;
    align-items: center;
}
#heading-and-star img{
    margin-right: 1rem;
    width: 40px;
}

/*code for resetting h1 and p tags*/
h1{
    font-family: "work sans";
    font-size: 3rem;
    margin: 0;
}
p{
    font-family: "work sans";
    font-weight: bold;
}

/*code for the main content container*/
#main-content-container{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 8px 8px 50px 10px rgba(0, 0, 0, 0.251);
}

/*code for questions*/
.questions{
    border-top: 2px solid rgba(0, 0, 0, 0.116);
}

/*code for questions and icon container*/
.Q-and-icon{
    display: flex;
    justify-content: space-between;
}

/*code for answers*/
.answers{
    font-weight: 500;
    opacity: 40%;
    color: var(--Dark-purple);
    margin-top: 0;
    display: none;
}

/*code for icon buttons*/
.minus-sign{
    display: none;
}
.plus-sign{
    display: block;
}

/*code for classList*/
.show{
    display: block;
}
.hide{
    display: none;
}



/*code for btn*/
.btn{
    border: 1px solid;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
}